{% load staticfiles %}
{% load rest_framework %}
<html>
<head>
	<title>Todos Mis Servicios</title>
	<link rel="stylesheet" href="{% static 'css/formato.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
  <script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/lol.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
</head>
<body>
	<header>
	</header>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="{% url 'usuarios' %}">Todos Mis Servicios</a>
  
  <!-- Links -->
  <ul class="navbar-nav left">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'usuarios' %}">Principal</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'servicios' %}">Servicios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">             </a>
    </li>
    {% if request.user.is_authenticated %}
      <div class="p-2 align-self-center">
        <a href="{% url 'iniciarSesion' %}"><span class="icon-users"></span>{{request.user.username}}</a> │ <a href="{% url 'salirSesion' %}">Cerrar Sesión</a>
      </div>
    {% else %}
      <div class="p-2 align-self-center">
        <a href="{% url 'iniciarSesion' %}"><span class="icon-users"></span>Iniciar sesión</a> 
      </div>
    {% endif %}
    

  </ul>
</nav>

	<div class="container">
		{% block content %}
    {% endblock %}
	</div>


</body>
</html>