 {% load staticfiles %}

<html>
<head>
	<title>Todos Mis Servicios</title>
	<link rel="stylesheet" href="{% static 'css/formato.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
	<header>
	</header>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">Todos Mis Servicios</a>
  
  <!-- Links -->
  <ul class="navbar-nav left">
    <li class="nav-item">
      <a class="nav-link" href="#">Principal</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Servicios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Usuarios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Nosotros</a>
    </li>
  </ul>
</nav>

	<div>
		<h3>Usuarios</h3>
		{% for persona in personas %}
		<div class="container">
			
				<div class="prueba" >
					 <img src="https://vignette.wikia.nocookie.net/laruedadeltiempo/images/5/56/Interrogacion.jpg/revision/latest?cb=20130808205644&path-prefix=es" class="rounded-circle"> 
					<h4>{{persona.nombre}} {{persona.apellido}}</h4>				
					<h5>Servicios registrados:</h5>
					<ul>
						{% for servicio in persona.servicios.all %}
							<li>{{servicio.nombre}}</li>
						{% endfor %}
					</ul>	
				</div>				
			
		</div>
		{% endfor %}
	</div>


</body>
</html>