{% extends 'servicios/base.html' %}

{%block content%}
	<div class="container">
		<br><br> 
		<h3>Iniciar sesión</h3>
		<h5>Inicia sesión para publicar tus quejas, e interactuar con las de otros.</h5>
		<form id="formularioInicioSesión" class="col-12" method="post" action="{% url 'iniciarSesion' %}">
			{% csrf_token %}
			<div class="form-group">
				<label for="nombreUsuario">Usuario:</label><br>
				<input class="form-control" type="text" name="nombreUsuario" id="nombreUsuario" placeholder="Nombre de usuario"><br>
			</div>
			<div class="form-group">
				<label for="password">Contraseña:</label><br>
				<input class="form-control" type="password" name="password" id="password" placeholder="Contraseña a utilizar"><br>
			</div>
			
			<div class="d-flex justify-content-center">
				<button type="submit">Login</button>	
			</div>
			<br><br>
		</form>
		{{mensaje}}
	</div>
{%endblock%}