{% extends 'servicios/base.html' %}

{% block content %}
<h3>Servicios</h3>
<table id="example" class="display" style="width:100%">
	<thead>
		<tr>
			<th>Nombres</th>
			<th>Servicio</th>
			<th>Ciudad</th>
			<th>Fecha</th>
			<th>Direccion</th>
			<th>Pago</th>
		</tr>
	</thead>
	<tbody>
	{% for servicio in servicios %}
		<tr>
			<td>{{servicio.owner.nombre}}</td>
			
				<td>{{servicio.nombre}}</td>					
					<td>{{servicio.ciudad}}</td>
					<td>{{servicio.fecha}}</td>
					<td>{{servicio.direccion}}</td>
					<td>{{servicio.pago}}</td>
				
		</tr>
	{%endfor%}
	</tbody>
</table>

{% endblock %}